.container {
  display: grid;
  grid-template-columns: repeat(4, 10vh);
  grid-gap: 1vh;
}
.success-box {
  z-index: 9;
  position: absolute;
  align-self: center;
  background-color: darkblue;
  color: white;
  height: 10vh;
  width: 20vh;
  text-align: center;
  padding-top: 6vh;
  font-size: 48px;
  border: 2px solid white;
}
