.item {
  background-color: cyan;
  text-align: center;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.item__success {
  background-color: darkgreen;
  color: white;
}
